<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chat</title>
    <link rel="stylesheet" href="/formStyle.css">
</head>
<body>
    <h3>Write new Chat</h3>
    <form method="POST" action="/chats">
        <input placeholder="Who Are You??" type="text" name="from">
        <textarea name="msg" id="msg">Write Your Message here</textarea>
        <input placeholder="Add Receiver" type="text" name="to">
        <button>Create Chat</button>
    </form>
</body>
</html>