<!-- prints the detail of single post -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Here is your post in detail!!</h1>
    <div class="post">
        <h2>Id : <%= post.id %></h2>
        <h2>Username : <%= post.username %></h2>
        <h2>Content : <%= post.content %></h2>
    </div>
    
</body>

</html>